{% extends "all_functions.html" %}
{% load static %}



{% block content %}

<h2 style="text-align:center">Contacts</h2>
<div style="font-size:22px;text-align:center">
<table border="1" width=800 height=300 align="center">
<tr>
    <th>Y. S. Chu</th>
    <th>Group Leader</th>
    <th>631-344-5582</th>
    <th>ychu@bnl.gov</th>
</tr>
<tr>
    <th>H. Yan</th>
    <th>Beamline Scientist</th>
    <th>631-344-7097</th>
    <th>hyan@bnl.gov</th>
</tr>
<tr>
    <th>S. Kalbfleisch</th>
    <th>Scientific Associate</th>
    <th>631-344-7465</th>
    <th>skalbfleisch@bnl.gov</th>
</tr>
</table>
</div>

{% endblock %}
