{% extends "base.html" %}

{% block sidebar %}
<ul>
    <h3><a href="/articles/dpc_imagings">Differential Phase Contrast Imaging</a></h3>
</ul>
{% endblock %}


{% block content %}

    <h2 align="center">Job created: {{ input.title }}</h2>

    <ul>
        <h3>
            <li>parameter1: {{ input.parameter1|lower }}</li>
            <li>parameter2: {{ input.parameter2|lower }}</li>
            <li>notes: {{ input.notes }}</li>
        </h3>
    </ul>

    <h3><a href="/articles/dpc_run/{{input.id}}">Submit this job</a></h3>


    <h3>All Comments</h3>
    {% for c in article.comment_set.all %}
    <p>{{c.name}}: {{c.body}}</p>
    {% endfor %}

    <p><a href="/articles/add_comment/{{article.id}}">Add Comment</a></p>

{% endblock %}
